@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar globally for horizontal lists */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
